.App{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 1rem;
}
.App button{
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 1px solid black;
    cursor: pointer;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}